/* REGOLE FONTS */
h1,h2,h3,h4,h5,h6,.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: "Oswald", sans-serif;
}


*{
font-family: "Roboto", sans-serif;
}

/* REGOLE COLORI */
:root{
  --black: #12140F;
  --yellow1: #A49828;
  --yellow2: #C7C51B;
  --green: #31553B;
  --white: #e9e4e4;
}

body{
  background-color: var(--black);
  color: var(--white);
}

.bg-yellow1{
  background-color: var(--yellow1);
}

.bg-yellow2{
  background-color: var(--yellow2);
}
.bg-green{
  background-color: var(--green);
}
.bg-white{
  background-color: var(--white);
}
.bg-dark{
  background-color: var(--black);
}
.text-yellow1{
  color: var(--yellow1);
}
.text-yellow2{
  color: var(--yellow2);
}
.text-green{
  color: var(--green);
}
.text-white{
  color: var(--white);
}

/* NAVBAR */
.navbar {
  height: 140px;
  transition:0.5s;
}
.nav-link {
  color: var(--yellow1) !important;
  font-weight: 700;
}
.nav-link:hover {
  color: var(--yellow2) !important;
  font-weight: 700;
}
.logo {
  width: 40px;
  height: auto;
}
.logo2 {
  width: 50px;
  height: auto;
  transition: 0.5s;
}
/*HEADER*/
.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.squarespace-cdn.com/content/v1/570c1514c2ea513f7d99d605/1517306805041-PCI9ESIWOKALQSIYZPFJ/breakingbad_hero.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
}

h1 {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.btn-custom {
  background-color: var(--yellow1);
  color: var(--white);
  border: 2px solid var(--yellow1);
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  transition: background-color 0.3s ease;
  transition: 0.5s;
}

.btn-custom:hover {
  background-color: var(--yellow2);
  border-color: var(--yellow2);
  color: var(--white);
  scale: 1.1;
}

/* POSITIONED */
.positioned {
  position: relative;
  margin-top: -150px;
 
}

.col-custom {
  
  padding: 30px;
  border: 2px solid var(--yellow1);
  cursor: pointer;
  transition: 0.5s;
  color: var(--yellow2);
  
}

.col-custom:hover {
  background-color: var(--yellow1);
  color: var(--white);
  border-color: var(--yellow1);
  scale: 1.05;
}

@media screen and (max-width: 600px) {
  .positioned {
    position: static;
  }
}

/* NUMERI INCREMENTALI */
.number {
  font-size: 50px;
  font-weight: bold;
  color: var(--yellow1);
}

/*Swiper*/

.swiper {
  height: 600px;
}

.card-review {
  height: 250px;
  width: 500px;
  border: 2px solid var(--yellow1) ;
  border-radius: 20px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*PAGINA ANNUNCI*/
.accordion-item {
  background-color: var(--green);
  color: var(--yellow1);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.accordion-button {
  background-color: var(--green);
  color: var(--yellow1);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.accordion-button:not(.collapsed) {  
  background-color: var(--yellow1);
  color: var(--green);
  box-shadow: none;
} 

.accordion-button:hover {
  background-color: var(--yellow1);
  color: var(--green);
 
}

.accordion-button:focus {
  box-shadow: none;
}

.card-custom {
  background-color: var(--green);
  width: 25%;
  border: 2px solid var(--yellow1);
  border-radius: 20px;
  padding: 20px;
  color: var(--yellow1);
  transition: 0.5s;
  display: flex;
  flex-direction: column;  
  align-items: center; 
  justify-content: space-evenly;
}

.img-card {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* PAGINA CHI SIAMO */

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid var(--yellow1);
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.vh-75 {
  height: 75vh;
}

.opener {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--yellow1);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  transition: 0.5s;
}

.moved {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--yellow1);
  background-position: center;
  background-size: cover;
  position: absolute;
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
  transition: 0.5s;
}

.flipCard {
  width: 250px;
  height: 400px;
 
  
}

.flipCard:hover > .inner {
  transform: rotateY(180deg);
}

.inner {
  height: 400px;
  width: 100%;
   border: 2px solid var(--yellow1);
  border-radius: 20px;
    background-image: none;
  position: relative;
  transition: 0.5s;
  transform-style: preserve-3d;
}

.innerFace {
   width: 250px;
  height: 400px;
  background-image: none;
  background-size: cover;
   border: 2px solid var(--yellow1);
   border-radius: 20px;

  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  backface-visibility: hidden;
  transition: 0.5s;
}

.innerBack {
   width: 250px;
  height: 400px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
text-align: center;
  padding: 15px;
 
}